.gameCard {
  background: url('../../../../assets/images/gameCard_background.jpg');
  border-radius: 1.5rem;
  color: #ffffff;
  font-family: 'Chelsea Market', cursive;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  min-height: 500px;
  box-shadow: 0px 2px 15px rgb(0 0 0 / 50%);
  cursor: pointer;

  .gameCardFront, .gameCardBack {
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .gameCardBack {
    display: none;
    transform: rotateY(180deg);
  }

  .gameCardHeader {
    .gameCardHeaderImage img {
      width: 6rem;
    }

    .gameCardHeaderTitle a h3 {
      color: #ffffff;
    }
  }

  .gameCardBody {
    .gameCardBodyStats {
      .table {
        color: #ffffff;
        vertical-align: top;
        border-collapse: collapse;
        border-color: rgb(255 255 255 / 10%);
      }
      table td, table th {
        border: 1px solid rgb(255 255 255 / 10%);
      }
      table tr:first-child th {
        border-top: 0;
      }
      table tr:last-child td {
        border-bottom: 0;
      }
      table tr td:first-child,
      table tr th:first-child {
        border-left: 0;
      }
      table tr td:last-child,
      table tr th:last-child {
        border-right: 0;
      }
    }

    .gameCardBodyTags {
      .gameCardBodyTagsSingle {
        font-family: "Chelsea Market", cursive;
        background: #fff;
        color: #2b2626;
        border-radius: 10px;
        display: inline-flex;
        margin-right: 5px;
      }
      .gameCardBodyTagsSingle:last-child {
        margin-right: 0;
      }
    }
  }
}

.gameCard:hover {
  box-shadow: 0px 2px 30px rgb(0 0 0 / 70%);
}

.gameCard.flipped {
  transform: rotateY(180deg);
}

.gameCard.flipped .gameCardFront {
  display: none;
}

.gameCard.flipped .gameCardBack {
  display: block;
}
