.championSingle {
  font-family: 'Chelsea Market', cursive;

  .championBanner {
    border-radius: 2rem;
  }
}

.table {
  color: #ffffff;
  vertical-align: top;
  border-collapse: collapse;
  border-color: rgb(255 255 255 / 10%);
}
table td, table th {
  border: 1px solid rgb(255 255 255 / 10%);
}
table tr:first-child th {
  border-top: 0;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}
table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}
