<div class="gameCard mb-4">
  <div class="gameCardInner p-4">
    <div class="gameCardHeader mb-3 d-flex align-items-start">
      <div class="gameCardHeaderImage me-3">
        <img src="{{ champion.icon }}" alt="{{ champion.name }}">
      </div>
      <div class="gameCardHeaderTitle">
        <h3>{{ champion.name }}</h3>
        <h6>{{ champion.title }}</h6>
      </div>
    </div>
    <div class="gameCardBody">
      <div class="gameCardBodyDescription">
        <!-- {{ champion.description }} -->
      </div>
      <div class="gameCardBodyStats">
        HP: {{ champion.stats.hp }}<br>
        Movement-Speed: {{ champion.stats.movespeed }}<br>
        Armor: {{ champion.stats.armor }}<br>
        Attack-Range: {{ champion.stats.attackrange }}<br>
        Attack-Damage: {{ champion.stats.attackdamage }}<br>
        Attack-Speed: {{ champion.stats.attackspeed }}
      </div>
      <div class="gameCardBodyTags">
        <span class="gameCardBodyTagsSingle px-2" *ngFor="let tag of champion.tags">
          {{ tag }}
        </span>
      </div>
    </div>
  </div>
</div>
