/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.css';

@font-face {
  font-family: 'Chelsea Market';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('./assets/fonts/chelsea-market-v8-latin-regular.woff2') format('woff2'),
  url('./assets/fonts/chelsea-market-v8-latin-regular.woff') format('woff');
}

body {
  background-image: url('./assets/images/website_background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
}

.shadow-text {
  text-shadow: 0px 1px 2px #000;
  color: #ffffff;
}
